*{
    margin: 0;
    padding: 0;
}
body {
  font-family: Arial, sans-serif;
 background-color: #f8f9fa;
  
}

.box2 {
  max-width: 550px;
  margin: 20px auto;
  margin: 10vh 0;
  padding: 5%;
  background-color: #ffffff;
  border-radius: 6px;
  box-shadow: 0 0 10px #8393f1;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #4D67FF;
  border-radius: 9px;
}
.form-group textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #4D67FF;
  border-radius: 9px;
}

.form-group button {
  width: 60%;
  padding: 10px;
  background-color:#4d67ff;
  border: none;
  color: #ffffff;
  cursor: pointer;
  border-radius: 6px;
  margin-left: 100px;
}

.form-group button:hover {
  background-color:  #ffffff;
  border: 1px solid #4D67FF;
  color:#4d67ff;
  box-shadow: 0 0 10px #4D67FF;

}




.signup{
    display: inline-block;

color: #ffffff;
height: 21px;
width: 60px;
padding: 12px;
border: 1px solid white;
border-radius: 10px;
font-size: 20px;
font-weight:400;

}
.signup:hover{
background-color: white;
color:#8172f4
}
#companyName{
  margin:3% auto;
}
.box1{
  background-color:white;
  height: 50vh;
  width:21vw;
  margin:10vh 5vw;
  box-shadow: 0 0 10px #8393f1;
  

}
.container{
  display: flex;
}
.image{
  height:50%;

  margin:10px;
  background-color: #4D67FF;
  box-sizing: content-box;
  background-image:url('labour.jpg');
  background-size: cover;
}
.content{
  margin:10px;
  box-sizing: content-box;
  margin: auto 10%;
}
 .content ul {
  list-style-type: none; /* Remove default list style */
  padding: 0;
}

 .content ul li {
  position: relative;
  padding-left: 20px; /* Adjust spacing for the image */
}

.content ul li::before {
  content: ""; /* Generate the list style image */
  position: absolute;
  top: 5px; /* Adjust vertical positioning */
  left: 0;
  width: 20px; /* Set the width of the image */
  height: 20px; /* Set the height of the image */
  background-image: url("check.webp"); /* Specify the image URL */
  background-size: cover; /* Adjust the image size */
}